.login
  .login__page
    = form_with model: @user, url: user_registration_path, local: true do |f|
      = devise_error_messages!

      .login__page--box
        = f.label :ニックネーム
        %em (８文字まで)
        %br/
        = f.text_field :nickname, autofocus: true, maxlength: "8"

      .login__page--box
        = f.label :メールアドレス
        %br/
        = f.email_field :email

      .login__page--box
        = f.label :パスワード
        %br/
        = f.password_field :password, autocomplete: "off"

      .login__page--box
        = f.label :パスワード確認用
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"

      .login__page--box
        = f.submit "サインイン"
