= render "tweets/header"
.index
  .index__page
    - @tweets.each do |tweet|
      .index__page__box
        = link_to tweet.user.nickname, user_path(tweet.user)
        = link_to "/tweets/#{tweet.id}" do
          .index__page__box--tweet
            = tweet.text
  .index__turn
  = paginate(@tweets)
= link_to new_tweet_path do
  .tweetbtn
    ツイートする