.show
  .show__page
    .show__page__top
      .show__page__top--content
        ←
      = link_to user_path(@tweet.user) do
        .show__page__top--content
          = @tweet.user.nickname
    .show__page__tweet
      = @tweet.text
      .show__page__tweet--method
        - if user_signed_in? && current_user.id == @tweet.user_id
          = link_to edit_tweet_path(@tweet.id) do
            .show__page__method--edit
              編集
          = link_to tweet_path(@tweet.id) ,method: :delete do
            .show__page__method--delete
              削除